<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center">
    <img src="https://www.upf.br/_uploads/Conteudo/comunicacao/marca/logo-color-vertical.png" alt="Logotipo"
      style="max-width: 200px; margin-top: 30px;" />
  </div>

  <ion-list lines="none">

    <ion-text color="danger" *ngIf="!emailValid && email !== ''">
      <p>E-mail não é válido, por favor digite um e-mail válido.</p>
    </ion-text>
    <ion-text color="danger" *ngIf="!senhaValid && senha !== ''">
      <p>A senha necessita conter pelo menos 4 caracteres.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" required [(ngModel)]="email" (ngModelChange)="validateForm()"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required [(ngModel)]="senha" (ngModelChange)="validateForm()"></ion-input>
    </ion-item>


  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" [routerLink]="['/home']" [disabled]="!isFormValid()">Entrar</ion-button>
  </div>

</ion-content>
